@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #111219;
  transition: all 0.4s ease;
}

.modal {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 48px;
}
